<%= render "shared/header" %>

<main>
  <div>
    <div class="container">
      <div class="contents">
        <div class="trip-images">
          <div class="trip-image1">
            <%= image_tag "nature1.png", class:"trip-image" %>
          </div>
          <div class="trip-image2">
            <%= image_tag "yakei2.png", class:"trip-image" %>
          </div>
        </div>
        <div class="message">
          <div class="trip-new">
            <% if user_signed_in? %>
              <%= link_to "#{current_user.nickname}さん、", user_path(current_user.id) %>
            <% end %>
            <p>新しい旅の計画を立てませんか？</p>
            <%= link_to "立てる！", new_trip_path, class:"btn btn-primary" %>
          </div>
          <div class="trip-index">
            <p>他ユーザーの計画を</p>
            <%= link_to "見てみる！", "#", class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%= render "shared/footer" %>
