<%= render "shared/header" %>
<main>
  <div class="container">
    <div class="contents">

      <div class="trip-all">
        <div class="trip-left">
          <div class="trip-title-group">
            <div class="trip-title">
              <%= @trip.title %>
            </div>
            <div class="button">
              <%= link_to "もどる", user_path(current_user.id), class:"btn btn-outline-primary" %>
              <div class="right-button">
                <%= link_to "編集", edit_trip_path(@trip.id), class:"btn btn-outline-success" %>
                <%= link_to '削除', trip_path(@trip.id), method: :delete, data: { confirm: '本当に削除してもよろしいですか?' }, class:"btn btn-outline-danger" %>
              </div>
            </div>
          </div>
          <div class="trip-content">
            <div class="trip-dates">
              <div>To : <%= @trip.start_date %></div>
              <div>End : <%= @trip.end_date %></div>
              <div>同伴者 :
                <% @trip.trip_users.each do |trip| %>
                  <% if trip.user_id != current_user.id %>
                    <%= User.where.not(id: current_user.id).where(id: trip.user_id).pluck(:nickname)[0] %> さん
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="item-img-content">
          <%= image_tag @trip.image.variant(resize: '300x200'),class:"item-box-img" %>
        </div>
      </div>

      <%# 詳細スケジュールの入力欄 %>
      <div class="detail-input">
        <%= form_with model: [@trip, @detail], class: 'trip-new-main', local: true do |f| %>
        <div class="new-trip-form-wrap">
          <div class="new-trip-form-header">
            <p>詳細スケジュールを作成</p>
          </div>


          <div class="form-group">
            <div class="error_messages">
              <%= render 'shared/error_messages', model: f.object %>
            </div>
          </div>
          <div class='form-group-detail'>
            <div class='form-detail form-detail-title'>
              <label class="form-text" for="trip-title">スケジュール名</label>
              <span class="form-text required">必須</span>
              <%= f.text_area :title, class:"input-default", id:"trip-title", placeholder:"(例) 東京タワー" %>
            </div>
            <div class='form-detail form-detail-title-note'>
              <label class="form-text" for="trip-title-note">備考</label>
              <%= f.text_area :note, class:"input-default", id:"trip-title-note", placeholder:"お土産購入" %>
            </div>
            <div class='form-detail form-detail-address'>
              <label class="form-text" for="address">住所</label>
              <%= f.text_area :address, class:"input-default", id:"address", placeholder:"(例) 東京都港区芝公園4-2-8" %>
            </div>
          </div>


          <div class="form-group-detail">
            <div class='form-detail form-detail-time'>
              <label class="form-text" for="time">日時</label>
              <%= f.datetime_field :time, class:"input-default", id:"time", placeholder:"(例) 12:00" %>
            </div>
            <div class='form-detail form-detail-time-note'>
              <label class="form-text" for="time-note">時刻備考</label>
              <%= f.text_field :time_note, class:"input-default", id:"time-note", placeholder:"(例) 過ぎ" %>
            </div>
            <div class='form-detail form-detail-importance'>
              <div class='form-importance'>
                <label class="form-text" for="importance">重要度</label>
                <span class="form-text required">必須</span>
              </div>
                <%= f.select :importance, [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]], include_blank: "選択して下さい", class:"input-default", id:"importance" %>
            </div>
          </div>

          <div class="form-group-detail">
            <div class='form-detail form-detail-url'>
              <label class="form-text" for="url">URL</label>
              <%= f.text_field :url, class:"input-default", id:"url" %>
            </div>
          </div>

          <%# 下部ボタン %>
          <div class="schedule-make-button">
            <%= f.submit "スケジュールを追加",class:"btn btn-outline-primary register-go-btn" %>
          </div>
          <%# /下部ボタン %>
        </div>

        <% end %>
      </div>
      <%# 詳細スケジュールの入力欄 %>

      <%# TODO 詳細スケジュールの一覧表示 %>
      <div class="schedule-lists">
        <p>詳細スケジュール一覧</p>
      </div>
      <%= render @details %>
      <%# 詳細スケジュールの一覧表示 %>

    </div>
  </div>
</main>

<%= render "shared/footer" %>
