<%= render "shared/header" %>
<main>
  <div class="container">
    <div class="contents">

      <div class="trip-all">
        <div class="trip-left">
          <div class="trip-title-group">
            <div class="trip-title">
              <%= @trip.title %>
            </div>
            <div class="button">
              <%= link_to "もどる", user_path(current_user.id), class:"btn btn-outline-primary" %>
              <div class="right-button">
                <%= link_to "編集", edit_trip_path(@trip.id), class:"btn btn-outline-success" %>
                <%= link_to '削除', trip_path(@trip.id), method: :delete, data: { confirm: '本当に削除してもよろしいですか?' }, class:"btn btn-outline-danger" %>
              </div>
            </div>
          </div>
          <div class="trip-content">
            <div class="trip-dates">
              <div>To : <%= @trip.start_date %></div>
              <div>End : <%= @trip.end_date %></div>
              <div>同伴者 :
                <% @trip.trip_users.each do |trip| %>
                  <% if trip.user_id != current_user.id %>
                    <%= User.where.not(id: current_user.id).where(id: trip.user_id).pluck(:nickname)[0] %> さん
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="item-img-content">
          <%= image_tag @trip.image.variant(resize: '300x200'),class:"item-box-img" %>
        </div>
      </div>


      <%# マップ表示 %>
      <div class="map">
        <div class="route-map">
          <div class="select-route">
            <div class="select-route-btn">
              出発地：
              <%= collection_select(:title, :id, Detail.where(trip_id: @trip.id).order('time ASC'), :id, :title, prompt: "現在地" ) %><br>
              目的地：
              <%= collection_select(:title, :title, Detail.where(trip_id: @trip.id).order('time ASC'), :id, :title ) %>
            </div>
            <%= link_to 'ルート表示', '', class:"btn btn-outline-info get-route", id:"get-route" %>
          </div>
          <div class="route-map-area" id="route-map-area">
          </div>
        </div>
        <div class="current-map">
          <div class="select-option">
            <div class="select-option-btn">
              検索スポット：
              <%= select(:title, :id, ["病院", "ATM", "駐車場", "図書館", "レストラン"], { include_blank: "---" } ) %><br>
              検索範囲 (m) ：
              <%= select(:title, :id, [500, 1000.to_s(:delimited), 1500.to_s(:delimited), 2000.to_s(:delimited)], { include_blank: "---" } ) %>
            </div>
            <%= link_to 'マップ表示', '', class:"btn btn-outline-info", id:"get-map" %>
          </div>
          <div class="current-map-area" id="current-map-area">
          </div>
        </div>
      </div>
      <%# マップ表示 %>


      <%# 詳細スケジュールの一覧表示 %>
      <div class="schedule-lists">
        <p>詳細スケジュール一覧</p>
      </div>
      <%= render @details %>
      <%# 詳細スケジュールの一覧表示 %>


      <%# 詳細スケジュールの入力欄 %>
      <div class="detail-input">
        <%= form_with model: [@trip, @detail_coodinate], url: trip_details_path(@trip.id), class: 'trip-new-main', id: 'detail-form', local: true do |f| %>
        <div class="new-trip-form-wrap">
          <div class="new-trip-form-header">
            <p>詳細スケジュールを作成</p>
          </div>


          <div class="form-group">
            <div class="error_messages">
              <%= render 'shared/error_messages', model: f.object %>
            </div>
          </div>
          <div class='form-group-detail'>
            <div class='form-detail form-detail-title'>
              <label class="form-text" for="trip-title">スケジュール名</label>
              <span class="form-text required">必須</span>
              <%= f.text_area :title, class:"input-default", id:"trip-title", placeholder:"(例) 東京タワー" %>
            </div>
            <div class='form-detail form-detail-title-note'>
              <label class="form-text" for="trip-title-note">備考</label>
              <%= f.text_area :note, class:"input-default", id:"trip-title-note", placeholder:"お土産購入" %>
            </div>
            <div class='form-detail form-detail-address' id='coordinate'>
              <label class="form-text" for="address">住所</label>
              <%= f.text_area :address, class:"input-default", id:"address", placeholder:"(例) 東京都港区芝公園4-2-8" %>
            </div>
          </div>


          <div class="form-group-detail">
            <div class='form-detail form-detail-time'>
              <label class="form-text" for="time">日時</label>
              <%= f.datetime_field :time, class:"input-default", id:"time", placeholder:"(例) 12:00" %>
            </div>
            <div class='form-detail form-detail-time-note'>
              <label class="form-text" for="time-note">時刻備考</label>
              <%= f.text_field :time_note, class:"input-default", id:"time-note", placeholder:"(例) 過ぎ" %>
            </div>
            <div class='form-detail form-detail-importance'>
              <div class='form-importance'>
                <label class="form-text" for="importance">重要度</label>
                <span class="form-text required">必須</span>
              </div>
                <%= f.select :importance, [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]], include_blank: "選択して下さい", class:"input-default", id:"importance" %>
            </div>
          </div>

          <div class="form-group-detail">
            <div class='form-detail form-detail-url'>
              <label class="form-text" for="url">URL</label>
              <%= f.text_field :url, class:"input-default", id:"url" %>
            </div>
          </div>

          <%# 下部ボタン %>
          <div class="schedule-make-button">
            <%= f.submit "スケジュールを追加",class:"btn btn-outline-primary register-go-btn", id:"address-button" %>
          </div>
          <%# /下部ボタン %>
        </div>

        <% end %>
      </div>
      <%# 詳細スケジュールの入力欄 %>


    </div>
  </div>
</main>

<%= render "shared/footer" %>
