<div>

  <div class="trip-title-group">
    <div class="trip-title">
      <ion-icon name="arrow-redo"></ion-icon><%= detail.title %>
    </div>
    <div class="right-button">
      <%= link_to "編集", edit_trip_detail_path(detail.trip_id, detail.id), class:"btn btn-outline-success" %>
      <%= link_to '削除', trip_detail_path(detail.trip_id, detail.id), method: :delete, data: { confirm: '本当に削除してもよろしいですか?' }, class:"btn btn-outline-danger" %>
      <%= link_to '天気取得', '', class:"btn btn-outline-info weather-load-button", data:detail.address, data2:detail.id, id:"weather-#{detail.id}" %>
    </div>
  </div>
  <div class="trip-detail-contents-wrap">
    <div class="trip-content">
      <div class="trip-details">
        <div class="trip-details-first-raw">
          <ion-icon name="checkbox"></ion-icon><%= detail.note %>
          <div class="detail-time">
            <% if detail.time != nil %>
                <ion-icon name="alarm"></ion-icon><%= detail.time.strftime('%m-%d %H:%M') %><%= detail.time_note %>
            <% end %>
          </div>
        </div>
        <% if detail.address != "" %>
          <div>
            <ion-icon name="home"></ion-icon><%= detail.address %>
          </div>
        <% end %>
        <div>
          <% if detail.url != "" %>
            <ion-icon name="globe"></ion-icon><%= detail.url %>
            <%= link_to "→", detail.url, target: :_blank, rel: "noopener noreferrer", class:"btn btn-outline-info" %>
          <% end %>
        </div>
        <div><ion-icon name="star"></ion-icon><%= detail.importance %></div>
      </div>
    </div>

    <%# 天気予報欄 %>
    <div class="weather-content">
      <div class="every-3hours-weather">
        <% 6.times do |i| %>
          <div class="hourly-weather">
            <p class="hourly-time" id="hourly-time-<%= detail.id %>-<%= i %>"></p>
            <div class="hourly-content">
              <p class="hourly-icon" id="hourly-icon-<%= detail.id %>-<%= i %>"></p>
              <p class="hourly-temperature" id="hourly-temperature-<%= detail.id %>-<%= i %>"></p>
            </div>
          </div>
        <% end %>
      </div>

      <div class="three-days-weather">
        <% 3.times do |i| %>
          <div class="daily-weather">
            <p class="day" id="day-<%= detail.id %>-<%= i %>"></p>
            <div class="daily-content">
              <p class="daily-icon" id="daily-icon-<%= detail.id %>-<%= i %>"></p>
              <div class="daily-temperature">
                  <p class="daily-high-temperature" id="daily-high-temperature-<%= detail.id %>-<%= i %>"></p>
                  <p class="daily-low-temperature" id="daily-low-temperature-<%= detail.id %>-<%= i %>"></p>
              </div>
              <div class="daily-sun">
                  <p class="daily-sunrise" id="daily-sunrise-<%= detail.id %>-<%= i %>"></p>
                  <p class="daily-sunset" id="daily-sunset-<%= detail.id %>-<%= i %>"></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%# 天気予報欄 %>

  </div>
</div>
