<div>
  <div class="trip-title-group">
    <div class="trip-title">
      <%= detail.title %>
    </div>
  </div>
  <div class="trip-contents-wrap">
    <div class="trip-contents">
      <div class="trip-details">
        <div><ion-icon name="home"></ion-icon><%= detail.address %></div>
        <div><ion-icon name="checkbox"></ion-icon><%= detail.note %></div>
        <% if detail.time != nil %>
          <div><ion-icon name="alarm"></ion-icon><%= detail.time.strftime('%m-%d %H:%M') %><%= detail.time_note %></div>
        <% else %>
          <div><ion-icon name="alarm"></ion-icon><%= detail.time %><%= detail.time_note %></div>
        <% end %>
        <div>
          <ion-icon name="globe"></ion-icon><%= detail.url %>
          <% if detail.time != nil %>
            <%= link_to "→", detail.url, target: :_blank, rel: "noopener noreferrer", class:"btn btn-outline-info" %>
          <% end %>
        </div>
        <div><ion-icon name="star"></ion-icon><%= detail.importance %></div>
      </div>
    </div>
    <div class="button">
      <%#= link_to "編集", edit_detail_path(detail.id), class:"btn btn-outline-success" %>
      <%#= link_to '削除', detail_path(detail.id), method: :delete, data: { confirm: '本当に削除してもよろしいですか?' }, class:"btn btn-outline-danger" %>
    </div>
  </div>
</div>
